---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import AppReview from '@components/AppReview';
import Subtitle from '@components/Subtitle';
import Spacing from '@components/Spacing';

type Section = {
  title: string;
  entries: Entry[];
};

type Entry = {
  title: string;
  url: string;
  desc?: string;
};

const sections: Section[] = [
  {
    title: 'Planner Apps',
    entries: [
      {
        title: 'Akiflow',
        url: 'https://akiflow.com/',
        desc: 'Planning tasks, with beautiful calendar and todo UI.',
      },
      {
        title: 'Sunsama',
        url: 'https://sunsama.com/',
        desc: 'Motivative planning app. Comfortable UX and animations.',
      },
      {
        title: 'Plan',
        url: 'https://getplan.co/',
        desc: "Free but high functional planning app. It's available on almost all devices.",
      },
      {
        title: 'Routine',
        url: 'https://www.routine.co/',
        desc: "Next generation planner app. It's still under development, but most eagerly awaited.",
      },
    ],
  },

  {
    title: 'Task Focus',
    entries: [
      {
        title: 'Serene',
        url: 'https://sereneapp.com/',
        desc: 'Block distractions, and focus sessions with great sounds.',
      },
      {
        title: 'Slash',
        url: 'https://getslash.co/',
        desc: 'Funtastical and unique task focus app.',
      },
    ],
  },

  {
    title: 'Time Blocking',
    entries: [
      {
        title: 'Reclaim',
        url: 'https://reclaim.ai/',
        desc: "Automatically arrange tasks into your schedules. It's smart and amazing.",
      },
      {
        title: 'SkedPal',
        url: 'https://skedpal.com/',
        desc: 'Intelligent task blocking app.',
      },
      {
        title: 'KosmoTime',
        url: 'https://www.kosmotime.com/',
        desc: "Simple. It's specializing in set aside focus time.",
      },
      {
        title: 'Planyway',
        url: 'https://planyway.com/',
        desc: 'Integrated with trello, and manage tasks and schedules in the same UI.',
      },
    ],
  },

  {
    title: 'Meeting Reminder',
    entries: [
      {
        title: 'Superpowered',
        url: 'https://superpowered.me/',
        desc: 'Cool schedule notifier in menubar. Sync with google calendar and you can open next meeting directly.',
      },
      {
        title: 'MeetingBar',
        url: 'https://github.com/leits/MeetingBar',
        desc: 'Simple schedule remider lives in menubar, synced with iCloud calendar.',
      },
    ],
  },

  {
    title: 'Misc',
    entries: [
      {
        title: 'Endel',
        url: 'https://endel.io/',
        desc: 'Soundscapes, improving concentration.',
      },
    ],
  },
];
---

<DefaultLayout title="Explore productivity">
  <div class="flex flex-col gap-28">
    {
      sections.map((section, index) => {
        return (
          <section>
            <Subtitle>## {section.title}</Subtitle>
            <div class="flex flex-col gap-8">
              {section.entries.map((entry) => {
                return (
                  <AppReview
                    title={entry.title}
                    url={entry.url}
                    desc={entry.desc}
                  />
                );
              })}
            </div>
          </section>
        );
      })
    }
  </div>
</DefaultLayout>
