---
import ThemeToggleButton from './ThemeToggleButton';
import NavBar from './NavBar';
---

<header class="py-8 flex justify-between items-center">
  <NavBar />
  <div class="flex">
    <ThemeToggleButton client:only="preact" />
  </div>
</header>
